extends layout

block content
  h1= title

  if user
    h2 Welcome #{user.username}!
    if user 
      a(href=`/${user._id}`) Your Goals 
      br
      br
      a(href="/logout") Log out
      br

  else 
    h2 Please log in 
    form(action="/log-in" method="POST")
      label(for="username") Username
      input(type="text", name="username", id="username")
      br
      label(for="password") Password
      input(type="password", name="password", id="password")
      br
      button(type="submit" class="btn btn-primary") Login
      br
      br

  p Sign-up? #[a(href="/sign-up") Sign up ]

  if !user
    form(method="POST" action="/")